.App {
  text-align: start;
  background-color: #282c34;
  height: 100%;
  width: 100%;
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}


.Tables {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
  
}

.Time {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(5px + 5vmin);
  color: white;
  text-align: start;
}

